/* 
font-family: 'Barlow', sans-serif;
font-family: 'Inder', sans-serif;
font-family: 'Lilita One', sans-serif; ---> main fonts
#101010, #F4F0E5, #F0D76B, #191919 ---> main colors
*/

/*
Layout
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inder", sans-serif;
  color: #101010;
  background-color: #101010;
}

.todo-container {
  max-width: 100%;
  max-height: 100vh;
  padding: 2em 1.5em;
}

/*
Typography
*/

h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  text-transform: uppercase;
  text-align: center;
  color: #f0d76b;
}

/*
Form
*/
.form-field {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 1em;
}

.input-box {
  /* width: 60%; */
  padding: 0.5em 0.8em;
  background-color: #191919;
  border-radius: 60px;
  border: 1px solid #f0d76b;
  outline: none;
  color: #f0d76b;
  font-weight: 600;
}

.input-box::placeholder {
  display: none;
}

.add-button {
  padding: 0.5em 0.5em;
  border-radius: 60px;
  background-color: #f0d76b;
  border: none;
  display: flex;
}

/* Maybe I will need it:

.todo-container {
  margin: 2em auto;
  padding: 1em;
  max-width: 40%;
  text-align: center;
  background-color: #101010;
  border-radius: 10px;
  box-shadow: 0 0 0.2em #10101015;
}

.todo-container h1 {
  padding: 0.5em 0;
  background-color: #f0d76b;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}





#add-task-btn {
 
  color: #101010;
  font-weight: 600;
  text-transform: uppercase;
}

.lists-container {
  background-color: #f0d76b;
  border-radius: 5px;
}

.first-row {
  display: flex;
  justify-content: space-around;
}

.second-row {
  display: flex;
  font-size: 0.5rem;
}

.second-row p {
  margin-left: 2em;
}

ul li {
  list-style: none;
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

#task-complete-mark {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
  border: 2px solid #101010;
  border-radius: 100px;
} */
