* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #f0d76b, #f4f0e5, #f0d76b);
  font-family: "Josefin Sans", sans-serif;
  color: #101010;
}

.container {
  max-width: 100%;
  max-height: 100vh;
}

.todo-container {
  margin: 2em auto;
  padding: 1em;
  max-width: 30%;
  text-align: center;
  background-color: #101010;
  border-radius: 10px;
}

.todo-container h1 {
  padding: 0.5em 0;
  background-color: #f0d76b;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
}
