* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #f0d76b, #f4f0e5, #f0d76b);
  font-family: "Josefin Sans", sans-serif;
  color: #101010;
}

.container {
  max-width: 100%;
  max-height: 100vh;
}

.todo-container {
  margin: 2em auto;
  padding: 1em;
  max-width: 40%;
  text-align: center;
  background-color: #101010;
  border-radius: 10px;
}

.todo-container h1 {
  padding: 0.5em 0;
  background-color: #f0d76b;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

#input-box {
  width: 70%;
  margin: 2em auto;
  padding: 0.5em 1em;
  background-color: #3c3c3c;
  border-radius: 60px;
  border: none;
  outline: none;
  color: #f0d76b;
  font-weight: 600;
}

#input-box::placeholder {
  color: #101010;
  font-weight: 600;
}

#add-task-btn {
  padding: 0.5em 1em;
  border-radius: 60px;
  background-color: #f0d76b;
  border: none;
  color: #101010;
  font-weight: 600;
  text-transform: uppercase;
}

.lists-container {
  background-color: #f0d76b;
  border-radius: 5px;
}

.first-row {
  display: flex;
  justify-content: space-around;
}

.second-row {
  display: flex;
  font-size: 0.5rem;
}

.second-row p {
  margin-left: 2em;
}

ul li {
  list-style: none;
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

#task-complete-mark {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
  border: 2px solid #101010;
  border-radius: 100px;
}
